<html>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <title>Dengue Simulation</title>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart', 'controls'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var str = $("#parameters").serialize();
            var jsonData = $.ajax({
                url: "http://127.0.0.1:8000/api/?" + str,
                dataType: "json",
                async: false
            }).responseText;
            jsonData = JSON.parse(jsonData);
            var man = [];
            var mos = [];

            for (var index = 0; index < jsonData.length; index++) {
                var element = jsonData[index];
                element[0] = parseInt(element[0]);
                man[index] = element.slice(0, 5);
                mos[index] = element.slice(5,11);
                mos[index].unshift(element[0]);

            }
            // console.log(jsonData);
            man.unshift(['date', 'S', 'E', 'I', 'R']);
            mos.unshift(['date', 'Ev', 'Lv', 'Pv', 'Sm', 'Em', 'Im']);

            var mandashboard = new google.visualization.Dashboard(
                document.getElementById('dashboard_man'));
            var mosdashboard = new google.visualization.Dashboard(
                document.getElementById('dashboard_mos'));

            var manSlider = new google.visualization.ControlWrapper({
                'controlType': 'NumberRangeFilter',
                'containerId': 'filter_man',
                'options': {
                    'filterColumnLabel': 'date'
                }
            });
            var mosSlider = new google.visualization.ControlWrapper({
                'controlType': 'NumberRangeFilter',
                'containerId': 'filter_mos',
                'options': {
                    'filterColumnLabel': 'date'
                }
            });
            var man_data = google.visualization.arrayToDataTable(man);
            var mos_data = google.visualization.arrayToDataTable(mos);


            var manChart = new google.visualization.ChartWrapper({
                'chartType': 'LineChart',
                'containerId': 'man_chart',
                'options': {
                    'width': 900,
                    'height': 500,
                    'pieSliceText': 'value',
                    'legend': 'right',
                    'title': 'Human Simulation'
                }
            });
            var mosChart = new google.visualization.ChartWrapper({
                'chartType': 'LineChart',
                'containerId': 'mos_chart',
                'options': {
                    'width': 900,
                    'height': 500,
                    'pieSliceText': 'value',
                    'legend': 'right',
                    'title': 'Mosquito Simulation'
                }
            });
            mandashboard.bind(manSlider, manChart);
            mosdashboard.bind(mosSlider, mosChart);

            mandashboard.draw(man_data);
            mosdashboard.draw(mos_data);

        }

    </script>
    <style>
        body {
            padding-top: 50px;
        }

        form {
            padding-top: 10px;
        }

        #scheme {
            padding-top: 55px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="col-md-9">
            <div id="dashboard_man">
                <div id="man_chart" style="margin-left:-50px;"></div>
                <div id="filter_man" style="text-align:center; min-width: 500px"></div>

            </div>

            <div id="dashboard_mos">
                <div id="mos_chart" style="margin-left:-50px;"></div>
                <div id="filter_mos" style="text-align:center; min-width: 500px"></div>

            </div>
        </div>
        <div class="col-md-3">
            <div id="scheme" class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" id="m0">Default</button>
                <button type="button" class="btn btn-default" id="m1">M1</button>
                <button type="button" class="btn btn-default" id="m2">M2</button>
                <button type="button" class="btn btn-default" id="m3">M3</button>
            </div>
            <form id="parameters">
                {% autoescape off %} {% for para,default in pasort %} {% if default.show == 1 %}
                <div class="form-group bas">
                    {% else %}
                    <div class="form-group adv" style="display:none">
                        {% endif %}
                        <label for="para{{para}}">{{default.name | safe}}</label>
                        <input type="text" class="form-control" name="para{{para}}" id="para{{para}}" placeholder="{{para}}" value="{{default.default}}">
                    </div>
                    {% endfor %} {% endautoescape %}
                    <a id="advance">Adavance Mode</a><a id="basic" style="display:none">Basic Mode</a><br><br>
                    <button type="button" class="btn btn-default" onclick="drawChart()">Submit</button>
            </form>
            </div>

        </div>

</body>
<script>
        $("#m0").click(function () {
            var data = parameter = {
                'N': 526007,
                'beta_h': 0.75,
                'theta_h': 0.1,
                'gama': 0.143,
                'beta_m': 0.375,
                'theta_m': 0.2,
                'f_e': 0.276,
                'f_l': 0.11,
                'f_p': 0.253,
                'mu_e': 0.05,
                'mu_l': 0.05,
                'mu_p': 0.0167,
                'mu_m': 0.047,
                'pi': 1,
                'r': 13.6,
                'sigma': 0.5,
                'budget': 0,
                'perWorkCost': 1064,
                'perNetCost': 90,
                'eps': 0.67,
                'perPestCost': 0.38,
                'perWorkLength': 1 * 1000 * 8,
                'sprayTime': '[]',
                'area': 5.709296 * 1000000,
                'roadLength': 527.927 * 1000,
                'waterTime': '[]',
                'k': 89742
            }
            for (var key in data) {
                $("#para" + key).val(data[key]);
            }
            drawChart();
        });

        $("#m1").click(function () {
            var data = parameter = {
                'N': 526007,
                'beta_h': 0.75,
                'theta_h': 0.1,
                'gama': 0.143,
                'beta_m': 0.375,
                'theta_m': 0.2,
                'f_e': 0.276,
                'f_l': 0.11,
                'f_p': 0.253,
                'mu_e': 0.05,
                'mu_l': 0.05,
                'mu_p': 0.0167,
                'mu_m': 0.047,
                'pi': 1,
                'r': 13.6,
                'sigma': 0.5,
                'budget': 100 * 10000,
                'perWorkCost': 1064,
                'perNetCost': 90,
                'eps': 0.67,
                'perPestCost': 0.38,
                'perWorkLength': 1 * 1000 * 8,
                'sprayTime': '[]',
                'area': 5.709296 * 1000000,
                'roadLength': 527.927 * 1000,
                'waterTime': '[]',
                'k': 89742
            }
            for (var key in data) {
                $("#para" + key).val(data[key]);
            }
            drawChart();
        });

        $("#m2").click(function () {
            var data = parameter = {
                'N': 526007,
                'beta_h': 0.75,
                'theta_h': 0.1,
                'gama': 0.143,
                'beta_m': 0.375,
                'theta_m': 0.2,
                'f_e': 0.276,
                'f_l': 0.11,
                'f_p': 0.253,
                'mu_e': 0.05,
                'mu_l': 0.05,
                'mu_p': 0.0167,
                'mu_m': 0.047,
                'pi': 1,
                'r': 13.6,
                'sigma': 0.5,
                'budget': 100 * 10000,
                'perWorkCost': 1064,
                'perNetCost': 0,
                'eps': 0.67,
                'perPestCost': 0.38,
                'perWorkLength': 1 * 1000 * 8,
                'sprayTime': '[30, 60, 90, 120, 150, 180]',
                'area': 5.709296 * 1000000,
                'roadLength': 527.927 * 1000,
                'waterTime': '[]',
                'k': 89742
            }
            for (var key in data) {
                $("#para" + key).val(data[key]);
            }
            drawChart();
        });

        $("#m3").click(function () {
            var data = parameter = {
                'N': 526007,
                'beta_h': 0.75,
                'theta_h': 0.1,
                'gama': 0.143,
                'beta_m': 0.375,
                'theta_m': 0.2,
                'f_e': 0.276,
                'f_l': 0.11,
                'f_p': 0.253,
                'mu_e': 0.05,
                'mu_l': 0.05,
                'mu_p': 0.0167,
                'mu_m': 0.047,
                'pi': 1,
                'r': 13.6,
                'sigma': 0.5,
                'budget': 100 * 10000,
                'perWorkCost': 1064,
                'perNetCost': 0,
                'eps': 0.67,
                'perPestCost': 0.38,
                'perWorkLength': 1 * 1000 * 8,
                'sprayTime': '[]',
                'area': 5.709296 * 1000000,
                'roadLength': 527.927 * 1000,
                'waterTime': '[30, 60, 90, 120, 150, 180]',
                'k': 89742
            }
            for (var key in data) {
                $("#para" + key).val(data[key]);
            }
            drawChart();
        });


        $("#advance").click(function () {
            $(".adv").show();
            $(this).hide();
            $("#basic").show();
        });
        $("#basic").click(function () {
            $(".adv").hide();
            $(this).hide();
            $("#advance").show();
        });

</script>

</html>