<html>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

     <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script> 
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var str = $("#parameters").serialize();
            var jsonData = $.ajax({
                url: "http://127.0.0.1:8000/api/seir?"+str,
                dataType: "json",
                async: false
            }).responseText;
            jsonData = JSON.parse(jsonData);
            var man = [];
            var mos = [];
            
            for (var index = 0; index < jsonData.length; index++) {
                var element = jsonData[index];
                element[0] = parseInt(element[0]).toString();
                man[index] = element.slice(0, 5);
                mos[index] = element.slice(5); 
                mos[index].unshift(element[0]);    
                
            }
            // console.log(jsonData);
            man.unshift(['date', 'S', 'E', 'I', 'R']);
            mos.unshift(['date', 'Ev', 'Lv', 'Pv', 'Sm' , 'Em', 'Im']);
            

            var man_data = google.visualization.arrayToDataTable(man);
            var mos_data = google.visualization.arrayToDataTable(mos);
            

            var man_options = {
                title: 'Human Simulation',
                curveType: 'function',
                legend: { position: 'bottom' }
            };
            var mos_options = {
                    title: 'Mosquito Simulation',
                    curveType: 'function',
                    legend: { position: 'bottom' }
            };

            var chart1 = new google.visualization.LineChart(document.getElementById('man_chart'));
            var chart2 = new google.visualization.LineChart(document.getElementById('mos_chart'));
            

            chart1.draw(man_data, man_options);
            chart2.draw(mos_data, mos_options);
            
        }
</script>
    <style>
        body {
            padding-top: 50px;
        }
        form{
            padding-top: 10px;
        }
        #scheme{
            padding-top: 55px;            
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
    <div class="col-md-9">
        <div id="man_chart" style="width: 900px; height: 500px"></div>
        <div id="mos_chart" style="width: 900px; height: 500px"></div>
    </div>
    <div class="col-md-3">
        <div id="scheme" class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="m0">Default</button>
            <button type="button" class="btn btn-default" id="m1">M1</button>
            <button type="button" class="btn btn-default" id="m2">M2</button>
            <button type="button" class="btn btn-default" id="m3">M3</button>            
        </div>
        <form id="parameters">
            {% autoescape off %}            
            {% for para,default in pasort %}
                 {% if default.show == 1 %}
                    <div class="form-group bas">    
                 {% else %}
                    <div class="form-group adv" style="display:none"> 
                 {% endif %}
                <label for="para{{para}}">{{default.name | safe}}</label>
                <input type="text" class="form-control" name="para{{para}}" id="para{{para}}" placeholder="{{para}}" value="{{default.default}}">
            </div>
            {% endfor %}
            {% endautoescape %}
            <a id="advance">Adavance Mode</a><a id="basic" style="display:none" >Basic Mode</a><br><br>
            <button type="button" class="btn btn-default" onclick="drawChart()">Submit</button>
        </form>
    </div>

    </div>
    
</body>
<script>
    $("#m0").click(function () {
        var data = parameter = {
        'N' : 500000,
        'M' : 0,
        'beta_h': 0.75,
        'theta_h': 0.1,
        'gama': 0.143,
        'beta_m': 0.375,
        'theta_m': 0.2,
        'f_e': 0.276,
        'f_l': 0.11,
        'f_p': 0.253,
        'mu_e': 0.05,
        'mu_l': 0.05,
        'mu_p': 0.0167,
        'mu_m': 0.047,
        'pi': 1,
        'delta_l': 0.01,
        'sigma': 0.5,
        'budget': 1000000,
        'perNetCost': 400,
        'eps': 0.67,
        'sprayTime': '[10, 100, 150, 200]',
        'alpha': 1 / 75000,
        'waterTime': '[]',
        'k': 1000,
        'c': 0
    }
        for (var key in data) {
            $("#para"+key).val(data[key]);
        }
    });


    $("#advance").click(function () {
        $(".adv").show();
        $(this).hide();
        $("#basic").show();
    });
    $("#basic").click(function () {
        $(".adv").hide();
        $(this).hide();
        $("#advance").show();
    });
</script>

</html>